body{
    background-color: #000000;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    background-color: rgb(63, 1, 121);
}
main{
    background-color: #330a33;
    padding: 10px 0px 10px 0px;
}
h1{
    padding: 30px 0px 0px 0px;
    margin: 0;
}
h2{
    padding: 5px 0px 0px 0px;
    margin: 0;
}
p{
    margin: 5px 30px;
}
.subtitle{
    color: blueviolet;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}
.title{
    color: #b201cd;
    font-size: 25px;
    padding: 10px 0px 0px 30px;
    margin: 0;
    
}
.title_logo{
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 0px 30px 0px 10px;

}

.logo {
    width: 80px;
    height: 80px;
    padding: 0px;
    margin: 0;
}

.push {
    margin-left: auto;
    padding: 0;
    font-size: 30px;
}

.navigation{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    
    
}

.current_page{
    background-color: blueviolet;
    color: white;
}

button{
    background-color: white;
    border: 3px solid blueviolet;
    border-radius: 12px;

    width: 110px;
    height: 44px;
    margin: 8px 0px 8px 30px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size:14px;
    
    transition-duration: 0.4s;
    /*creates a visual transition
between when the button is inactive, to
when a user hovers over the button. */
}

button:hover {
    background-color: blueviolet;
    color: white;
    box-shadow: 0 3px rgb(68, 16, 117) ;
}
button:active {
    background-color: rgb(68, 16, 117);
    border: 5px solid rgb(68, 16, 117);
    transform: translateY(4px);
}



.new_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0px 0px 0px 0px;
    
    
}

.outerColumn {
display: flex;
flex-wrap: wrap;
align-items:center;
flex-direction: column;
/*width: 230px;*/
padding: 0px;
margin: 15px 15px 0px 15px;
}

.columnNoMarg{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    flex-direction: column;
    /*width: 230px;*/
    padding: 0px;
    margin: 0px 0px 0px 0px;
    
}

.column{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    flex-direction: column;
    /*width: 230px;*/
    padding: 0px;
    margin: 10px 30px 10px 30px;
    
}
.rowNoMarg{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    padding: 0;
    margin: 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
    margin: 10px 30px 10px 30px;
}

.captionBig {
    padding: 10px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(128, 0, 4);
    font-size: 10px;
    width: 380px;
    height: 50px;
}

.captionA4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 179, 255);
    font-size: 12px;
    font-weight: bold;
    width: 220px;
    height: 60px;
    padding: 0px 10px 0px 10px;
}
.inside {
    padding: 0px 10px 0px 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 179, 255);
    font-weight: bold;
    font-size: 13px;
    width: 210px;
    height: 60px;
}

.img {
    width:230px;
    padding: 10px 10px;

}
.display {
    width:400px;
    height: 200px;
}


/*CARP*/
.displayA4 {
    width:240px;
    height:340px;
    margin: 0;
    padding: 10px 10px;
}


footer{
    background-color: rgb(63, 1, 121);

}